{% extends "base.html" %}

{% block contain %}
{% load static %}
<div class="middle_info">
    <div class="middle_title">
        <h1>The Green Lounge experience</h1>
        <p>
            In the concrete capital of Dhaka, lies a hidden gem, 200 feet above ground, on the roof of the Rupayan Trade Center. The Green Lounge is an establishment like no other. It offers an experience that stays with you as you head back into the black and white world. Lush greeneries are embellished at every corner of the rooftop restaurant, along with wooden décor and enchanting lighting. The open sky and the fountain running down the middle of the rooftop harmonise to give everyone who walks into Green Lounge a deep sense of tranquillity, and a place to chill amidst their busy lives.
        </p>
    </div>
    <div class="middle_img">
        <img src="{% static "image/Gourmet Kebab.jpg" %}" alt="">
    </div>
</div>
{% endblock contain %}